/* RESPONSIVE MOBILE */

@media screen and (max-width: 650px) {
  body {
    /* display: flex; */
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main {
    width: 100%;
  }
  /* SECTION NAV */
  #nav {
    margin-top: -7px;
    margin-bottom: -8px;
  }
  header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
  .navbar-light .navbar-toggler {
    border-color: white;
    border-radius: 26px;
    width: 40px;
    height: 40px;
    margin-right: 9px;
  }
  .container-fluid {
    width: 100%;
    background-color: black;
  }
  .picture img {
    /* visibility: hidden; */
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
    margin-top: 1px;
  }
  .navbar-toggler-icon {
    filter: invert();
    margin-left: -8px;
  }
  .navbar-nav {
    margin-left: 20px;
  }

  /* SECTION ACCUEIL */
  #accueil {
    height: 239px;
    width: 100%;
  }
  img.bureau {
    width: 100%;
    height: 239px;
    opacity: 0.5;
  }
  img.bureau:hover {
    opacity: 1;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-top: -153px;
  }
  .text-acceuil {
    margin-top: 5px;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    line-height: 27px;
  }
  span {
    color: rgb(33, 33, 204);
    font-weight: 700;
  }

  i {
    font-size: 14px;
  }
  .linkedin {
    color: black;
    position: relative;
    top: 6%;
    left: auto;
    right: -69%;
  }
  .gitlab {
    color: black;
    position: relative;
    top: -4.3%;
    left: auto;
    right: -79%;
  }
  .instagram {
    color: black;
    position: relative;
    top: -14.7%;
    left: auto;
    right: -89%;
  }
  /* SECTION PRESENTATION */
  #presentation {
    height: 267px;
    width: 100%;
    background: #175399;
  }
  h3.pr {
    text-align: center;
    font-size: 15px;
    color: white;
    margin-top: 8px;
  }
  .text-p {
    margin-top: 2px;
    color: white;
    text-align: justify;
    width: 310px;
    margin: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  /* SECTION PORTFOLIO */
  #portfolio {
    height: auto;
    width: 100%;
    background: #d7d3d3;
  }
  h3.po {
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
  }
  #projet {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #card-1 {
    width: 280px;
    margin: auto;
    height: auto;
    margin-top: 15px;
    box-shadow: 0 0 10px;
  }
  .card-title {
    text-align: center;
  }
  .card-text {
    text-align: initial;
  }
  /* SECTION COMPETENCE */
  #competence {
    height: 500px;
    width: 100%;
    background: #175399;
  }
  h3.co {
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
    color: white;
  }
  .progress {
    background: #175399;
    margin-left: 92px;
    margin-top: 20px;
  }
  .langue {
    color: white;
    font-size: 12px;
    margin-left: 94px;
    margin-bottom: -16px;
    margin-top: 16px;
  }
  .progress-bar {
    border-radius: 7px;
    background: #92922e;
  }

  /* SECTION EXPERIENCE */
  #experience {
    height: auto;
    width: 100%;
    background: #d7d3d3;
  }
  h3.ex {
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
  }
  #taff {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bloc-1 {
    background: #175399;
    height: 360px;
    width: 257px;
    margin: auto;
    box-shadow: 0 0 2px;
    margin-bottom: 14px;
  }
  .contenu-bloc {
    background: white;
    height: 354px;
    width: 254px;
    margin-left: 10px;
  }
  .txt-bloc {
    margin-bottom: -30px;
  }

  .titre-bloc {
    text-align: center;
    margin-bottom: 44px;
    font-weight: 600;
  }
  ul {
    list-style-type: square;
    line-height: 27px;
    font-weight: 400;
    border-top: 2px solid;
  }
  ul li {
    margin-left: 8px;
    margin-top: 3px;
  }

  i.material-icons-outlined {
    visibility: visible;
  }
  /* SECTION FORMATION */
  #formation {
    height: auto;
    width: 100%;
    background: #175399;
  }
  h3.fo {
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: 16px;
  }
  #diplome {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bloc-2 {
    background: black;
    height: 144px;
    width: 257px;
    margin: auto;
    box-shadow: 0 0 2px;
    margin-bottom: 14px;
  }
  .titre-bloc2 {
    text-align: center;
    font-weight: 600;
    line-height: 25px;
  }
  .contenu-bloc-2 {
    background: white;
    height: 134px;
    width: 257px;
    margin-left: 10px;
  }
  /* SECTION CONTACT */
  #contact {
    height: 281px;
    width: 100%;
    background: #d7d3d3;
  }
  h3.con {
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
  }
  .bloc-3 {
    background: #edf0f3;
    width: 261px;
    margin: auto;
    height: auto;
  }
  .bloc-3,
  form {
    margin-top: 6px;
  }
  #name {
    margin-left: 7px;
  }
  #mail {
    margin-top: 17px;
  }
  #msg {
    margin-top: 15px;
  }
  .nom {
    margin-left: 9px;
  }
  .e-mail {
    margin-left: 9px;
  }
  .message {
    margin-left: 9px;
  }
  .button,
  button {
    margin-top: 9px;
    margin-left: 59px;
    border-radius: 5px;
    width: 77px;
  }
  #error {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
  }
}

/**** RESPONSIVE TABLETTE*** */

@media screen and (min-width: 651px) and (max-width: 991px) {
  body {
    /* display: flex; */
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main {
    width: 100%;
  }
  /* SECTION NAV */
  #nav {
    margin-top: -7px;
    margin-bottom: -8px;
  }
  .navbar-light .navbar-toggler {
    border-color: white;
    border-radius: 43px;
    width: 80px;
    height: 74px;
    margin-right: 34px;
  }
  .container-fluid {
    width: 100%;
    background-color: black;
  }
  .picture img {
    width: 139px;
    height: 120px;
    margin-left: 45px;
    border-radius: 63px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
    margin-top: 1px;
    font-size: 19px;
  }
  .navbar-toggler-icon {
    filter: invert();
    margin-left: -2px;
  }
  .navbar-nav {
    margin-left: 80px;
  }

  /* SECTION ACCUEIL */
  #accueil {
    height: 500px;
    width: 100%;
    background: #d7d3d3;
  }
  img.bureau {
    width: 100%;
    height: 500px;
    opacity: 0.5;
  }
  img.bureau:hover {
    opacity: 1;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    margin-top: -338px;
  }
  .text-acceuil {
    text-align: center;
    font-weight: 500;
    line-height: 80px;
  }
  span {
    color: rgb(33, 33, 204);
    font-weight: 700;
  }
  i {
    font-size: 20px;
  }
  .linkedin {
    color: black;
    position: relative;
    top: 25%;
    left: auto;
    right: -69%;
  }
  .gitlab {
    color: black;
    position: relative;
    top: 20%;
    left: auto;
    right: -77%;
  }
  .instagram {
    color: black;
    position: relative;
    top: 14.9%;
    left: auto;
    right: -85%;
  }

  /* SECTION PRESENTATION */
  #presentation {
    height: 293px;
    width: 100%;
    background: #175399;
  }
  h3.pr {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    color: white;
  }
  .text-p {
    margin-top: 2px;
    color: white;
    text-align: justify;
    width: 580px;
    margin: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 17px;
    line-height: 49px;
  }

  /* SECTION PORTFOLIO */
  #portfolio {
    height: auto;
    width: 100%;
    background: #d7d3d3;
  }
  h3.po {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
  }
  #projet {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #card-1 {
    margin-bottom: 14px;
    width: 465px;
    margin: 4% auto;
    height: auto;
    box-shadow: 0 0 10px;
  }
  .card-title {
    text-align: center;
  }
  .card-text {
    text-align: initial;
  }
  /* SECTION COMPETENCE */
  #competence {
    height: 550px;
    width: 100%;
    background: #175399;
  }
  h3.co {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    color: white;
  }
  .progress {
    background: #175399;
    margin-left: 92px;
    margin-top: 20px;
  }
  .langue {
    color: white;
    font-size: 14px;
    margin-left: 94px;
    margin-bottom: -16px;
    margin-top: 16px;
  }
  .progress-bar {
    border-radius: 7px;
    background: #92922e;
  }

  /* SECTION EXPERIENCE */
  #experience {
    height: auto;
    width: 100%;
    background: #d7d3d3;
  }
  h3.ex {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
  }
  #taff {
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
  }
  .bloc-1 {
    background: #175399;
    height: 360px;
    width: 469px;
    margin: 4% auto;
    box-shadow: 0 0 2px;
  }
  .contenu-bloc {
    background: white;
    height: 354px;
    width: 460px;
    margin-left: 10px;
  }
  .titre-bloc {
    text-align: center;
    margin-bottom: 44px;
    font-weight: 700;
  }
  .txt-bloc {
    margin-bottom: -30px;
  }
  ul {
    list-style-type: square;
    line-height: 27px;
    font-weight: 500;
    border-top: 2px solid;
  }
  ul li {
    margin-left: 26px;
    margin-top: 20px;
  }

  i.material-icons-outlined {
    visibility: visible;
  }
  /* SECTION FORMATION */
  #formation {
    height: auto;
    width: 100%;
    background: #175399;
  }
  h3.fo {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    color: white;
  }
  .titre-bloc2 {
    text-align: center;
    font-weight: 600;
    line-height: 41px;
  }
  #diplome {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .bloc-2 {
    margin-bottom: 20px;
    background: black;
    height: 172px;
    width: 426px;
    margin: 4% auto;
    box-shadow: 0 0 2px;
  }
  .contenu-bloc-2 {
    background: white;
    height: 163px;
    width: 417px;
    margin-left: 10px;
  }
  /* SECTION CONTACT */
  #contact {
    height: 361px;
    width: 100%;
    background: #d7d3d3;
  }
  h3.con {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
  }
  .bloc-3 {
    background: #edf0f3;
    width: 610px;
    margin: auto;
    height: auto;
  }
  .bloc-3,
  form {
    margin-top: 6px;
  }
  #name {
    margin-left: 7px;
    width: 266px;
  }
  #mail {
    margin-top: 17px;
    width: 266px;
  }
  #msg {
    margin-top: 15px;
    width: 246px;
    height: 116px;
  }
  .nom {
    margin-left: 156px;
  }
  .e-mail {
    margin-left: 156px;
  }
  .message {
    margin-left: 156px;
  }
  .button,
  button {
    margin-top: 13px;
    margin-left: 150px;
    border-radius: 5px;
    width: 109px;
  }
  #error {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
  }
}

/**** RESPONSIVE ECRAN ORDI*** */
@media screen and (min-width: 992px) {
  body {
    /* display: flex; */
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main {
    width: 100%;
  }
  /* SECTION NAV */
  .container-fluid {
    width: 100%;
    background-color: black;
  }
  header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
  .picture img {
    width: 140px;
    height: 140px;
    margin-left: 20px;
    border-radius: 71px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: white;
    margin-left: 80px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
    margin-top: 1px;
    font-size: 19px;
    padding: 21px 30px;
    border-bottom: 1px solid;
    border-bottom-color: white;
  }
  #nav {
    margin-top: -7px;
  }
  /* SECTION ACCUEIL */
  #accueil {
    height: 550px;
    width: 100%;
    margin-top: 158px;
  }
  img.bureau {
    width: 100%;
    height: 550px;
    opacity: 0.7;
  }
  img.bureau:hover {
    opacity: 1;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    margin-top: -543px;
  }
  p.text-acceuil {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  span {
    color: rgb(33, 33, 204);
    font-weight: 700;
  }
  .Typewriter-cursor {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
    color: black;
  }
  @keyframes Typewriter-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  i {
    font-size: 33px;
  }
  .linkedin {
    color: black;
    position: relative;
    top: 68%;
    left: auto;
    right: -79%;
  }
  .gitlab {
    color: black;
    position: relative;
    top: 61.7%;
    left: auto;
    right: -84%;
  }
  .instagram {
    color: black;
    position: relative;
    top: 55.3%;
    left: auto;
    right: -89%;
  }

  /* SECTION PRESENTATION */
  #presentation {
    height: 340px;
    width: 100%;
    background: #175399;
  }
  h3.pr {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 6px;
  }
  .text-p {
    margin-top: 2px;
    color: white;
    text-align: justify;
    width: 727px;
    margin: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 19px;
    line-height: 52px;
  }
  /* SECTION PORTFOLIO */
  #portfolio {
    height: auto;
    width: 100%;
    background: #d7d3d3;
  }
  #projet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h3.po {
    text-align: center;
    font-size: 24px;
    margin-top: 6px;
    /* background: #d7d3d3; */
  }
  #card-1 {
    width: 296px;
    box-shadow: 0 0 10px;
    margin: 20px;
  }
  #card-1:hover {
    border: 4px solid rgba(17, 16, 16, 0.467);
  }
  .card-title {
    text-align: center;
  }
  .card-text {
    text-align: initial;
    font-weight: 500;
  }
  /* a.btn-primary {
 
  } */
  /* SECTION COMPETENCE */
  #competence {
    height: 570px;
    width: 100%;
    background: #175399;
  }
  h3.co {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 6px;
  }
  .progress {
    background: #175399;
    margin-left: 203px;
    margin-top: 20px;
  }
  .langue {
    color: white;
    font-size: 16px;
    margin-left: 206px;
    margin-bottom: -16px;
    margin-top: 16px;
  }
  .progress-bar {
    border-radius: 7px;
    background: #92922e;
  }
  /* SECTION EXPERIENCE */
  #experience {
    height: auto;
    width: 100%;
    background: #d7d3d3;
  }
  h3.ex {
    text-align: center;
    font-size: 24px;
    margin-top: 6px;
  }
  #taff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .bloc-1 {
    margin-top: 36px;
    background: #175399;
    height: 348px;
    width: 430px;
    box-shadow: 0 0 7px 0px;
    transition-duration: 1s;
  }
  .bloc-1:hover {
    border: 4px solid rgba(17, 16, 16, 0.467);
  }
  .contenu-bloc {
    background: white;
    height: 340px;
    width: 420px;
    margin-left: 10px;
  }
  .txt-bloc {
    margin-bottom: -30px;
  }

  .titre-bloc {
    text-align: center;
    margin-bottom: 44px;
    font-weight: 700;
  }
  ul {
    list-style-type: square;
    line-height: 35px;
    font-weight: 500;
    border-top: 2px solid;
  }
  ul li {
    margin-left: 35px;
  }

  i.material-icons-outlined {
    visibility: visible;
  }
  /* SECTION FORMATION */
  #formation {
    height: auto;
    width: 100%;
    background: #175399;
  }
  h3.fo {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 6px;
  }
  #diplome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .bloc-2 {
    margin-top: 36px;
    background: black;
    height: 172px;
    width: 451px;
    box-shadow: 0 0 7px 0px;
  }
  .bloc-2:hover {
    border: 4px solid rgba(17, 16, 16, 0.467);
  }
  .titre-bloc2 {
    text-align: center;
    font-weight: 700;
    line-height: 40px;
  }
  .contenu-bloc-2 {
    background: white;
    height: 163px;
    width: 440px;
    margin-left: 10px;
  }
  /* SECTION CONTACT */
  #contact {
    height: 480px;
    width: 100%;
    background: #d7d3d3;
  }
  h3.con {
    text-align: center;
    font-size: 24px;
    margin-top: 6px;
  }
  .bloc-3 {
    background: #edf0f3;
    width: 694px;
    margin: auto;
    height: auto;
    box-shadow: 0 0 7px 0px;
  }
  .bloc-3,
  form {
    margin-top: 39px;
  }
  #name {
    margin-left: 7px;
    width: 266px;
  }
  #mail {
    margin-top: 17px;
    width: 266px;
  }
  #msg {
    margin-top: 15px;
    width: 246px;
    height: 116px;
  }
  .nom {
    margin-left: 156px;
    font-size: 18px;
  }
  .e-mail {
    margin-left: 156px;
    font-size: 18px;
  }
  .message {
    margin-left: 156px;
    font-size: 18px;
  }
  .button,
  button {
    margin-top: 13px;
    margin-left: 150px;
    border-radius: 5px;
    width: 109px;
  }
  #error {
    font-weight: 300;
    font-size: 17px;
    text-align: center;
  }
  /* SECTION FOOTER */

  .text-centerp-3 {
    height: 111px;
  }
}
